In [1]:
import pandas as pd
import numpy as np
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [122]:
driver = webdriver.Chrome('C:/Users/dell/Downloads/chromedriver_win32/chromedriver.exe')

Ans 1. - Python program to scrape details of most viewed youtube videos from wikipedia webpage using selenium exception handling.

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [89]:
ran = []
na = driver.find_elements_by_xpath("//table[@class= 'wikitable sortable jquery-tablesorter']/tbody/tr")
for i in na:
    ran.append(i.text)

In [92]:
ran = ran[:30]

In [97]:
a = pd.DataFrame(ran, columns= ['ab'])

In [100]:
numb = []

In [101]:
for i in a['ab']:
    i = i[:2]
    numb.append(i)

In [103]:
len(numb)

30

In [131]:
ran

['1. "Baby Shark Dance"[3] Pinkfong Baby Shark - Kids\' Songs & Stories 9.96 June 17, 2016 [B]',
 '2. "Despacito"[5] Luis Fonsi 7.69 January 12, 2017 [C]',
 '3. "Johny Johny Yes Papa"[11] LooLoo Kids 6.08 October 8, 2016 [D]',
 '4. "Shape of You"[12] Ed Sheeran 5.58 January 30, 2017 [E]',
 '5. "See You Again"[14] Wiz Khalifa 5.38 April 6, 2015 [F]',
 '6. "Bath Song"[19] Cocomelon – Nursery Rhymes 4.83 May 2, 2018 [G]',
 '7. "Learning Colors – Colorful Eggs on a Farm"[20] Miroshka TV 4.55 February 27, 2018 [H]',
 '8. "Masha and the Bear – Recipe for Disaster"[21] Get Movies 4.48 January 31, 2012 [I]',
 '9. "Uptown Funk"[22] Mark Ronson 4.42 November 19, 2014 [J]',
 '10. "Phonics Song with Two Words"[23] ChuChu TV 4.39 March 6, 2014',
 '11. "Gangnam Style"[24] Psy 4.30 July 15, 2012 [K]',
 '12. "Dame Tu Cosita"[29] El Chombo 3.79 April 5, 2018',
 '13. "Sugar"[30] Maroon 5 3.62 January 14, 2015',
 '14. "Sorry"[31] Justin Bieber 3.50 October 22, 2015',
 '15. "Roar"[32] Katy Perry 3.50 September 5, 2013',
 '16. "Counting Stars"[33] OneRepublic 3.48 May 31, 2013',
 '17. "Wheels on the Bus"[34] Cocomelon – Nursery Rhymes 3.47 May 24, 2018',
 '18. "Thinking Out Loud"[35] Ed Sheeran 3.39 October 7, 2014',
 '19. "Girls Like You"[36] Maroon 5 3.21 May 31, 2018',
 '20. "Faded"[37] Alan Walker 3.21 December 3, 2015',
 '21. "Dark Horse"[38] Katy Perry 3.20 February 20, 2014',
 '22. "Axel F"[39] Crazy Frog 3.16 June 16, 2009',
 '23. "Let Her Go"[40] Passenger 3.15 July 25, 2012',
 '24. "Bailando"[41] Enrique Iglesias 3.15 April 11, 2014',
 '25. "Lean On"[42] Major Lazer 3.15 March 22, 2015',
 '26. "Shake It Off"[43] Taylor Swift 3.13 August 18, 2014',
 '27. "Perfect"[44] Ed Sheeran 3.06 November 9, 2017',
 '28. "Baa Baa Black Sheep"[45] Cocomelon – Nursery Rhymes 3.05 June 25, 2018',
 '29. "Waka Waka (This Time for Africa)"[46] Shakira 3.02 June 4, 2010',
 '30. "Mi Gente"[47] J Balvin 3.02 June 29, 2017']

In [135]:
name = []
for i in a['ab']:
    i = i[2:20]
    name.append(i)

In [137]:
len(name)

30

In [143]:
upload = []
for i in a['ab']:
    i = i[25:44]
    upload.append(i)

In [145]:
len(upload)

30

In [146]:
view = []
for i in a['ab']:
    i = i[-22:-18]
    view.append(i)

In [148]:
len(view)

30

In [150]:
dates = []
for i in a['ab']:
    i = i[-17:-3]
    dates.append(i)

In [151]:
dates

['June 17, 2016 ',
 'uary 12, 2017 ',
 'tober 8, 2016 ',
 'uary 30, 2017 ',
 'April 6, 2015 ',
 '3 May 2, 2018 ',
 'uary 27, 2018 ',
 'uary 31, 2012 ',
 'mber 19, 2014 ',
 '.39 March 6, 2',
 'July 15, 2012 ',
 '.79 April 5, 2',
 ' January 14, 2',
 ' October 22, 2',
 'September 5, 2',
 '3.48 May 31, 2',
 '3.47 May 24, 2',
 '9 October 7, 2',
 '3.21 May 31, 2',
 ' December 3, 2',
 'February 20, 2',
 '.16 June 16, 2',
 '.15 July 25, 2',
 '15 April 11, 2',
 '15 March 22, 2',
 '3 August 18, 2',
 ' November 9, 2',
 '.05 June 25, 2',
 '3.02 June 4, 2',
 '.02 June 29, 2']

In [152]:
videos = pd.DataFrame({'Rank': numb, 'Video Name': name, 'Video Uploader': upload, 'Views in billions': view, 'Release Date': dates})

In [153]:
videos

,Rank,Video Name,Video Uploader,Views in billions,Release Date
0,1.,"""Baby Shark Dance",Pinkfong Baby Shark,9.96,"June 17, 2016"
1,2.,"""Despacito""[5] Lu",nsi 7.69 January 12,9 Ja,"uary 12, 2017"
2,3.,"""Johny Johny Yes",[11] LooLoo Kids 6.,08 O,"tober 8, 2016"
3,4.,"""Shape of You""[12",Sheeran 5.58 Januar,8 Ja,"uary 30, 2017"
4,5.,"""See You Again""[1",z Khalifa 5.38 Apri,5.38,"April 6, 2015"
5,6.,"""Bath Song""[19] C",lon – Nursery Rhyme,s 4.,"3 May 2, 2018"
6,7.,"""Learning Colors",orful Eggs on a Far,Feb,"uary 27, 2018"
7,8.,"""Masha and the Be",Recipe for Disaster,8 Ja,"uary 31, 2012"
8,9.,"""Uptown Funk""[22]",Ronson 4.42 Novemb,Nov,"mber 19, 2014"
9,10,". ""Phonics Song wi","o Words""[23] ChuChu",TV,".39 March 6, 2"
10,11,". ""Gangnam Style""[","sy 4.30 July 15, 20",4.30,"July 15, 2012"
11,12,". ""Dame Tu Cosita""",El Chombo 3.79 Apri,mbo,".79 April 5, 2"
12,13,". ""Sugar""[30] Maro","3.62 January 14, 20",3.6,"January 14, 2"
13,14,". ""Sorry""[31] Just",eber 3.50 October 2,3.5,"October 22, 2"
14,15,". ""Roar""[32] Katy","3.50 September 5,",3.50,"September 5, 2"
15,16,". ""Counting Stars""",OneRepublic 3.48 Ma,blic,"3.48 May 31, 2"
16,17,". ""Wheels on the B",4] Cocomelon – Nurs,ymes,"3.47 May 24, 2"
17,18,". ""Thinking Out Lo",5] Ed Sheeran 3.39,n 3.,"9 October 7, 2"
18,19,". ""Girls Like You""",Maroon 5 3.21 May 3,on 5,"3.21 May 31, 2"
19,20,". ""Faded""[37] Alan","er 3.21 December 3,",3.2,"December 3, 2"
20,21,". ""Dark Horse""[38]",Perry 3.20 Februar,3.20,"February 20, 2"
21,22,". ""Axel F""[39] Cra","og 3.16 June 16, 20",rog,".16 June 16, 2"
22,23,". ""Let Her Go""[40]","enger 3.15 July 25,",ger,".15 July 25, 2"
23,24,". ""Bailando""[41] E",e Iglesias 3.15 Apr,as 3,"15 April 11, 2"
24,25,". ""Lean On""[42] Ma","azer 3.15 March 22,",er 3,"15 March 22, 2"
25,26,". ""Shake It Off""[4",ylor Swift 3.13 Aug,t 3.,"3 August 18, 2"
26,27,". ""Perfect""[44] Ed",ran 3.06 November 9,3.0,"November 9, 2"
27,28,". ""Baa Baa Black S",[45] Cocomelon – Nu,mes,".05 June 25, 2"
28,29,". ""Waka Waka (This","for Africa)""[46] S",kira,"3.02 June 4, 2"
29,30,". ""Mi Gente""[47] J","in 3.02 June 29, 20",vin,".02 June 29, 2"

Ans 2. - Python program to scrape the team india's fixture from bcci webpage using selenium exception handling.

In [3]:
driver.get('https://www.bcci.tv/')

In [4]:
side = driver.find_element_by_xpath("//button[@class= 'navbar-toggler menu-btn menu-icon collapsed']")

In [5]:
side.click()

In [6]:
inter = driver.find_element_by_xpath("//a[@class= 'nav-link  ']")

In [7]:
inter.click()

In [8]:
more1 = driver.find_element_by_xpath("//button[@class= 'match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']")

In [9]:
more1.click()

In [10]:
more1.click()

In [11]:
series_name = []
se = driver.find_elements_by_xpath("//span[@class= 'ng-binding']")
for i in se:
    series_name.append(i.text)

In [13]:
len(series_name)

20

In [14]:
stadium = []
st = driver.find_elements_by_xpath("//div[@class= 'fix-place ng-binding ng-scope']")
for i in st:
    stadium.append(i.text)

In [16]:
len(stadium)

20

In [19]:
match_title = []
for j in stadium:
    j = j[:8]
    match_title.append(j)

In [21]:
len(match_title)

20

In [22]:
center = []
for j in stadium:
    j = j[10:]
    center.append(j)

In [24]:
len(center)

20

In [25]:
dates = []
da = driver.find_elements_by_xpath("//h5[@class= 'ng-binding']")
for i in da:
    dates.append(i.text)

In [27]:
len(dates)

20

In [28]:
times = []
ti = driver.find_elements_by_xpath("//h5[@class= 'text-right ng-binding']")
for i in ti:
    times.append(i.text)

In [30]:
len(times)

20

In [31]:
india_fixtures = pd.DataFrame({'Series Name': series_name, 'Match Title': match_title, 'Stadium Venue': center, 'Fixture Date': dates, 'Fixture Time': times})

In [32]:
india_fixtures

,Series Name,Match Title,Stadium Venue,Fixture Date,Fixture Time
0,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,3rd Test,"Newlands, Cape Town",11 JAN 2022,2:00 PM IST
1,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,1st ODI,"Boland Park, Paarl",19 JAN 2022,2:00 PM IST
2,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,2nd ODI,"Boland Park, Paarl",21 JAN 2022,2:00 PM IST
3,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,3rd ODI,"Newlands, Cape Town",23 JAN 2022,2:00 PM IST
4,WEST INDIES TOUR OF INDIA ODI SERIES 2022,1st ODI,"NARENDRA MODI STADIUM, Ahmedabad",6 FEB 2022,9:30 AM IST
5,WEST INDIES TOUR OF INDIA ODI SERIES 2022,2nd ODI,"Sawai Mansingh Stadium, Jaipur",9 FEB 2022,9:30 AM IST
6,WEST INDIES TOUR OF INDIA ODI SERIES 2022,3rd ODI,"Eden Gardens, Kolkata",12 FEB 2022,9:30 AM IST
7,WEST INDIES TOUR OF INDIA T20 SERIES 2022,1st T20I,"Barabati Stadium, Cuttack",15 FEB 2022,7:30 PM IST
8,WEST INDIES TOUR OF INDIA T20 SERIES 2022,2nd T20I,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stad...,18 FEB 2022,7:30 PM IST
9,WEST INDIES TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Greenfield International Stadium, Thiruvanant...",20 FEB 2022,7:30 PM IST
10,SRI LANKA TOUR OF INDIA TEST SERIES 2022,1st Test,"M Chinnaswamy Stadium, Bengaluru",25 FEB 2022,9:30 AM IST
11,SRI LANKA TOUR OF INDIA TEST SERIES 2022,2nd Test,"Punjab Cricket Association IS Bindra Stadium,...",5 MAR 2022,9:30 AM IST
12,SRI LANKA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Punjab Cricket Association IS Bindra Stadium,...",13 MAR 2022,7:30 PM IST
13,SRI LANKA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Himachal Pradesh Cricket Association Stadium,...",15 MAR 2022,7:30 PM IST
14,SRI LANKA TOUR OF INDIA T20 SERIES 2022,3rd T20I,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,18 MAR 2022,7:30 PM IST
15,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",9 JUN 2022,7:30 PM IST
16,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"M Chinnaswamy Stadium, Bengaluru",12 JUN 2022,7:30 PM IST
17,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Vidarbha Cricket Association Stadium, Nagpur",14 JUN 2022,7:30 PM IST
18,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:30 PM IST
19,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,5th T20I,"Arun Jaitley Stadium, Delhi",19 JUN 2022,7:30 PM IST

Ans 3. - Python program to scrape data about type of selenium exception from guru99.com webpage using selenium exception handling.

In [70]:
driver.get('https://www.guru99.com/')

In [71]:
se = driver.find_element_by_xpath("//input[@class= 'gsc-input']")

In [73]:
se.send_keys("selenium exception handling")

In [75]:
se_btn = driver.find_element_by_xpath("//button[@class= 'gsc-search-button gsc-search-button-v2']")

In [76]:
se_btn.click()

In [38]:
sel = driver.find_element_by_xpath("//a[@class= 'gs-title']")

In [39]:
sel.click()

In [77]:
ex = driver.find_element_by_xpath("//a[@class= 'gs-title']").get_attribute('href')

In [78]:
driver.get(ex)

In [79]:
s = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr")

In [80]:
s.text

'Exception name Description'

In [81]:
name=[]
desc=[]
for i in range(2,43):
    name_chk = driver.find_element_by_xpath('//table[@class="table table-striped"]/tbody/tr[{}]/td[1]'.format(i))
    name.append(name_chk.text)

    desc_chk = driver.find_element_by_xpath('//table[@class="table table-striped"]/tbody/tr[{}]/td[2]'.format(i))
    desc.append(desc_chk.text)

In [83]:
len(name)

41

In [85]:
len(desc)

41

In [86]:
exe_name = pd.DataFrame({'Name': name, 'Description': desc})

In [87]:
exe_name

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Ans 4. - Python program to scrape of GDP data of India state wise from statistics.com webpage using selenium.

In [3]:
driver.get('https://www.statisticstimes.com/')

In [4]:
db = []
d_btn = driver.find_elements_by_xpath("//div[@class= 'dropdown-content']/a")

In [5]:
for i in d_btn:
    db.append(i.get_attribute('href'))

In [6]:
db

['https://www.statisticstimes.com/index.php',
 'https://www.statisticstimes.com/india.php',
 'https://www.statisticstimes.com/economy/world-statistics.php',
 'https://www.statisticstimes.com/economy/country-statistics.php',
 'https://www.statisticstimes.com/economy/india-statistics.php',
 'https://www.statisticstimes.com/demographics/world-statistics.php',
 'https://www.statisticstimes.com/demographics/country-statistics.php',
 'https://www.statisticstimes.com/demographics/india-statistics.php',
 'https://www.statisticstimes.com/politics/india-statistics.php',
 'https://www.statisticstimes.com/geography/world-statistics.php',
 'https://www.statisticstimes.com/geography/india-statistics.php',
 'https://www.statisticstimes.com/sports/world-statistics.php',
 'https://www.statisticstimes.com/sports/india-statistics.php',
 'https://www.statisticstimes.com/article/world-statistics.php',
 'https://www.statisticstimes.com/article/india-statistics.php']

In [7]:
d = db[4]

In [8]:
d

'https://www.statisticstimes.com/economy/india-statistics.php'

In [9]:
driver.get(d)

In [10]:
sta = []
state = driver.find_elements_by_xpath("//a[@class= 'ec']")
for i in state:
    sta.append(i.get_attribute('href'))

In [11]:
len(sta)

53

In [12]:
sta[13]

'https://www.statisticstimes.com/economy/india/indian-states-gdp.php'

In [13]:
driver.get(sta[13])

In [14]:
rank1 = []
ran1 = driver.find_elements_by_xpath("//tr[@class= 'odd']/td[1]")
for i in ran1:
    rank1.append(i.text)

In [26]:
rank1 = rank1[:17]
rank1

['1',
 '3',
 '5',
 '7',
 '9',
 '11',
 '13',
 '15',
 '17',
 '19',
 '21',
 '23',
 '25',
 '27',
 '29',
 '31',
 '33']

In [27]:
rank2 = []
ran2 = driver.find_elements_by_xpath("//tr[@class= 'even']/td[1]")
for i in ran2:
    rank2.append(i.text)

In [28]:
rank2 = rank2[:17]

In [29]:
rank3 = []
for x, y in zip(rank1, rank2):
    rank3 += [x, y]

In [31]:
rank3 = rank3[:-1]

In [33]:
len(rank3)

33

In [34]:
name1 = []
nam1 = driver.find_elements_by_xpath("//tr[@class= 'odd']/td[2]")
for i in nam1:
    name1.append(i.text)
    
name2 = []
for j in driver.find_elements_by_xpath("//tr[@class= 'even']/td[2]"):
    name2.append(j.text)

In [36]:
name1 = name1[:17]

In [38]:
len(name1)

17

In [40]:
name2 = name2[:17]

In [42]:
len(name2)

17

In [43]:
name3 = []
for x, y in zip(name1, name2):
    name3 += [x, y]

In [45]:
name3 = name3[:-1]

In [47]:
len(name3)

33

In [48]:
curr_gsdp1 = []
for i in driver.find_elements_by_xpath("//tr[@class= 'odd']/td[3]"):
    curr_gsdp1.append(i.text)
    
curr_gsdp2 = []
for j in driver.find_elements_by_xpath("//tr[@class= 'even']/td[3]"):
    curr_gsdp2.append(j.text)

In [51]:
curr_gsdp1 = curr_gsdp1[:17]
len(curr_gsdp1)

17

In [52]:
curr_gsdp2 = curr_gsdp2[:17]
len(curr_gsdp2)

17

In [53]:
curr_gsdp3 = []
for x, y in zip(curr_gsdp1, curr_gsdp2):
    curr_gsdp3 += [x, y]

In [55]:
curr_gsdp3 = curr_gsdp3[:-1]
len(curr_gsdp3)

33

In [56]:
c_gsdp1 = []
for i in driver.find_elements_by_xpath("//tr[@class= 'odd']/td[4]"):
    c_gsdp1.append(i.text)
    
c_gsdp2 = []
for j in driver.find_elements_by_xpath("//tr[@class= 'even']/td[4]"):
    c_gsdp2.append(j.text)

In [57]:
c_gsdp1 = c_gsdp1[:17]
c_gsdp2 = c_gsdp2[:17]

In [58]:
c_gsdp3 = []
for x, y in zip(c_gsdp1, c_gsdp2):
    c_gsdp3 += [x, y]

In [59]:
c_gsdp3 = c_gsdp3[:-1]
len(c_gsdp3)

33

In [60]:
share1 = []
c_gsdp1 = []
for i in driver.find_elements_by_xpath("//tr[@class= 'odd']/td[5]"):
    share1.append(i.text)
    
share2 = []
for j in driver.find_elements_by_xpath("//tr[@class= 'even']/td[5]"):
    share2.append(j.text)

In [61]:
share1 = share1[:17]
share2 = share2[:17]

In [62]:
share3 = []
for x, y in zip(share1, share2):
    share3 += [x, y]

In [63]:
share3 = share3[:-1]
len(share3)

33

In [64]:
gdp1 = []
for i in driver.find_elements_by_xpath("//tr[@class= 'odd']/td[6]"):
    gdp1.append(i.text)
    
gdp2 = []
for j in driver.find_elements_by_xpath("//tr[@class= 'even']/td[6]"):
    gdp2.append(j.text)

In [65]:
gdp1 = gdp1[:17]
gdp2 = gdp2[:17]

In [67]:
gdp3 = []
for x, y in zip(gdp1, gdp2):
    gdp3 += [x, y]

In [68]:
gdp3 = gdp3[:-1]
len(gdp3)

33

In [69]:
past_gsdp1 = []
for i in driver.find_elements_by_xpath("//tr[@class= 'odd']/td[7]"):
    past_gsdp1.append(i.text)
    
past_gsdp2 = []
for j in driver.find_elements_by_xpath("//tr[@class= 'even']/td[7]"):
    past_gsdp2.append(j.text)

In [70]:
past_gsdp1 = past_gsdp1[:17]
past_gsdp2 = past_gsdp2[:17]

In [71]:
past_gsdp3 = []
for x, y in zip(past_gsdp1, past_gsdp2):
    past_gsdp3 += [x, y]

In [72]:
past_gsdp3 = past_gsdp3[:-1]
len(past_gsdp3)

33

In [73]:
p_gsdp1 = []
for i in driver.find_elements_by_xpath("//tr[@class= 'odd']/td[8]"):
    p_gsdp1.append(i.text)
    
p_gsdp2 = []
for j in driver.find_elements_by_xpath("//tr[@class= 'even']/td[8]"):
    p_gsdp2.append(j.text)

In [74]:
p_gsdp1 = p_gsdp1[:17]
p_gsdp2 = p_gsdp2[:17]

In [77]:
p_gsdp3 = []
for x, y in zip(p_gsdp1, p_gsdp2):
    p_gsdp3 += [x, y]

In [79]:
len(p_gsdp3)

32

In [80]:
p_gsdp3.append(np.nan)

In [82]:
states_gdp = pd.DataFrame({'Rank': rank3, 'State Name': name3, 'GSDP 1 at current prices': curr_gsdp3,
                          'GSDP 2 at current prices': c_gsdp3, 'Share': share3, 'GDP in Billion $': gdp3,
                          'GSDP 1 at 2011-12 prices': past_gsdp3, 'GSDP 2 at 2011-12 prices': p_gsdp3})

In [84]:
states_gdp['GSDP 2 at 2011-12 prices'] = states_gdp['GSDP 2 at 2011-12 prices'].replace(np.nan, '-')

In [85]:
states_gdp

,Rank,State Name,GSDP 1 at current prices,GSDP 2 at current prices,Share,GDP in Billion $,GSDP 1 at 2011-12 prices,GSDP 2 at 2011-12 prices
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","522,009"
10,11,Kerala,-,"781,653",4.14%,118.733,-,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.982,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737,-,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,3.385,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

Ans 5. - Python program to scrape the data of trending repository from github webpage using selenium.

In [86]:
driver.get('https://github.com/')

In [88]:
slide = driver.find_element_by_xpath("//button[@class= 'js-details-target btn-link d-lg-none mt-1 color-fg-inherit']")

In [89]:
slide.click()

In [101]:
ex = []
exp = driver.find_elements_by_xpath("//ul[@class= 'list-style-none f5 pb-1']/li/a")

In [102]:
for i in exp:
    ex.append(i.get_attribute('href'))

In [103]:
ex

['https://github.com/features',
 'https://github.com/mobile',
 'https://github.com/features/actions',
 'https://github.com/features/codespaces',
 'https://github.com/features/packages',
 'https://github.com/features/security',
 'https://github.com/features/code-review',
 'https://github.com/features/issues',
 'https://github.com/features/integrations',
 'https://github.com/sponsors',
 'https://github.com/customer-stories',
 'https://github.com/explore',
 'https://github.com/topics',
 'https://github.com/collections',
 'https://github.com/trending',
 'https://lab.github.com/',
 'https://opensource.guide/',
 'https://github.com/readme',
 'https://github.com/events',
 'https://github.community/',
 'https://education.github.com/',
 'https://stars.github.com/',
 'https://github.com/pricing',
 'https://github.com/pricing#compare-features',
 'https://github.com/enterprise/contact',
 'https://education.github.com/']

In [105]:
ex[14]

'https://github.com/trending'

In [106]:
driver.get(ex[14])

In [107]:
url = []
ur = driver.find_elements_by_xpath("//h1[@class= 'h3 lh-condensed']/a")
for i in ur:
    url.append(i.get_attribute('href'))

In [108]:
url

['https://github.com/Asabeneh/30-Days-Of-JavaScript',
 'https://github.com/Igglybuff/awesome-piracy',
 'https://github.com/521xueweihan/HelloGitHub',
 'https://github.com/megadose/holehe',
 'https://github.com/alibaba/xquic',
 'https://github.com/TheAlgorithms/Python',
 'https://github.com/freeCodeCamp/freeCodeCamp',
 'https://github.com/VGVentures/slide_puzzle',
 'https://github.com/iluwatar/java-design-patterns',
 'https://github.com/withshepherd/faker.js',
 'https://github.com/lynn/hello-wordl',
 'https://github.com/TheAlgorithms/Java',
 'https://github.com/sunym1993/flash-linux0.11-talk',
 'https://github.com/ibraheemdev/modern-unix',
 'https://github.com/faridrashidi/kaggle-solutions',
 'https://github.com/solo-io/bumblebee',
 'https://github.com/MichMich/MagicMirror',
 'https://github.com/LaravelDaily/laravel-tips',
 'https://github.com/BookStackApp/BookStack',
 'https://github.com/akullpp/awesome-java',
 'https://github.com/microsoft/PowerToys',
 'https://github.com/kdn251/interviews',
 'https://github.com/ascoders/weekly',
 'https://github.com/facebookresearch/mae',
 'https://github.com/JumpCrypto/crypto-reading-list']

In [109]:
len(url)

25

In [119]:
title = []
desc = []
contr = []
lang = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//strong[@class= 'mr-2 flex-self-stretch']")
        title.append(na.text.replace("/n","new line"))
    except:
        title.append("-")
        
    try:
        de = driver.find_element_by_xpath("//p[@class= 'f4 my-3']")
        desc.append(de.text.replace("/n","new line"))
    except:
        desc.append("-")
        
    try:
        co = driver.find_element_by_xpath("//span[@class= 'Counter']")
        contr.append(co.text.replace("/n","new line"))
    except:
        contr.append("-")
        
    try:
        la = driver.find_element_by_xpath("//span[@class= 'color-fg-default text-bold mr-1']")
        lang.append(la.text.replace("/n","new line"))
    except:
        lang.append("-")

In [124]:
trending_repository = pd.DataFrame({'Title': title, 'Description': desc, 'Contributors': contr, 'Language used': lang})

In [125]:
trending_repository

,Title,Description,Contributors,Language used
0,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,2.7k,JavaScript
1,awesome-piracy,A curated list of awesome warez and piracy links,1.5k,HTML
2,HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",7.3k,Python
3,holehe,holehe allows you to check if the mail is used...,218,Python
4,xquic,-,89,C
5,Python,All Algorithms implemented in Python,33.8k,Python
6,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,27.7k,JavaScript
7,slide_puzzle,-,64,Dart
8,java-design-patterns,Design patterns implemented in Java,22.5k,Java
9,faker.js,-,172,JavaScript
10,hello-wordl,Wordle clone you can play forever,16,TypeScript
11,Java,All Algorithms implemented in Java,14.3k,Java
12,flash-linux0.11-talk,你管这破玩意叫操作系统源码 — 像小说一样品读 Linux 0.11 核心代码,346,C
13,modern-unix,A collection of modern/faster/saner alternativ...,444,-
14,kaggle-solutions,🏅 Collection of Kaggle Solutions and Ideas 🏅,282,HTML
15,bumblebee,Get eBPF programs running from the cloud to th...,13,C
16,MagicMirror,MagicMirror² is an open source modular smart m...,3.7k,JavaScript
17,laravel-tips,Awesome tips for Laravel,751,-
18,BookStack,A platform to create documentation/wiki conten...,1.2k,PHP
19,awesome-java,"A curated list of awesome frameworks, librarie...",6.6k,-
20,PowerToys,Windows system utilities to maximize productivity,3.7k,C#
21,interviews,Everything you need to know to get the job.,11.7k,Java
22,weekly,前端精读周刊。帮你理解最前沿、实用的技术。,2k,JavaScript
23,mae,PyTorch implementation of MAE https//arxiv.org...,62,Python
24,crypto-reading-list,-,27,-

Ans 6. - Python program to scrape top 100 songs from billboards webpage using selenium.

In [128]:
driver.get('https://www.billboard.com/')

In [129]:
slide = driver.find_element_by_xpath("//button[@class= 'o-icon-button lrv-a-unstyle-button lrv-a-unstyle-link lrv-u-cursor-pointer lrv-u-flex js-MegaMenu-Trigger lrv-u-color-grey:hover lrv-a-hover-effect']")

In [130]:
slide.click()

In [132]:
c = []
ch = driver.find_elements_by_xpath("//a[@class= 'c-link  lrv-a-unstyle-link a-font-primary-bold lrv-u-font-size-28@desktop-xl lrv-u-font-size-18 lrv-u-color-grey:hover u-padding-a-1@desktop-max lrv-u-padding-b-050']")
for i in ch:
    c.append(i.get_attribute('href'))

In [134]:
c[0]

'https://www.billboard.com/charts/'

In [135]:
driver.get(c[0])

In [138]:
bi = []
bill = driver.find_elements_by_xpath("//a[@class= 'lrv-u-flex lrv-u-flex-direction-column']")
for i in bill:
    bi.append(i.get_attribute('href'))

In [139]:
bi

['https://www.billboard.com/charts/hot-100/',
 'https://www.billboard.com/charts/billboard-200/',
 'https://www.billboard.com/charts/artist-100',
 'https://www.billboard.com/charts/social-50',
 'https://www.billboard.com/charts/streaming-songs',
 'https://www.billboard.com/charts/radio-songs',
 'https://www.billboard.com/charts/digital-song-sales',
 'https://www.billboard.com/charts/top-album-sales',
 'https://www.billboard.com/charts/current-albums',
 'https://www.billboard.com/charts/catalog-albums',
 'https://www.billboard.com/charts/independent-albums',
 'https://www.billboard.com/charts/soundtracks',
 'https://www.billboard.com/charts/vinyl-albums']

In [142]:
bi[0]

'https://www.billboard.com/charts/hot-100/'

In [143]:
driver.get(bi[0])

In [144]:
song_name = []
for i in driver.find_elements_by_xpath("//h3[@class= 'c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']"):
    song_name.append(i.text)

In [145]:
song_name

['All I Want For Christmas Is You']

In [146]:
artist_name = []
for i in driver.find_elements_by_xpath("//span[@class= 'c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']"):
    artist_name.append(i.text)

In [147]:
artist_name

['Mariah Carey']

In [165]:
last_week = []
for i in driver.find_elements_by_xpath("//span[@class= 'c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']"):
    last_week.append(i.text)

In [166]:
last_week

['1', '1', '51', '', '', '']

In [167]:
last = last_week[0]
peak = last_week[1]
weeks = last_week[2]

In [168]:
a = pd.DataFrame({'Name': song_name, 'Artitst': artist_name, 'Last Week Rank': last, 'Peak Rank': peak, 'Weeks on Board': weeks})

In [169]:
a

,Name,Artitst,Last Week Rank,Peak Rank,Weeks on Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,51

In [170]:
song_name = []
for i in driver.find_elements_by_xpath("//h3[@class= 'c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']"):
    song_name.append(i.text)

In [172]:
len(song_name)

99

In [173]:
artist_name = []
for i in driver.find_elements_by_xpath("//span[@class= 'c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']"):
    artist_name.append(i.text)

In [175]:
len(artist_name)

99

In [181]:
last_week = []
for i in driver.find_elements_by_xpath("//ul[@class= 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']"):
    last_week.append(i.text)

In [183]:
len(last_week)

100

In [185]:
weeks = []
for i in last_week:
    i = i[-2:]
    weeks.append(i)

In [188]:
weeks = weeks[1:]
len(weeks)

99

In [207]:
peak = []
for i in last_week:
    i = i[-4:-3]
    peak.append(i)

In [210]:
peak = peak[1:]
len(peak)

99

In [211]:
last = []
for i in last_week:
    i = i[-6:-5]
    last.append(i)

In [214]:
last = last[1:]
len(last)

99

In [219]:
b = pd.DataFrame({'Name': song_name, 'Artitst': artist_name, 'Last Week Rank': last, 'Peak Rank': peak, 'Weeks on Board': weeks})

In [220]:
top_songs = pd.concat([a, b], axis= 0)

In [223]:
top_songs = top_songs.reset_index()

In [225]:
top_songs.drop(['index'], axis= 1, inplace= True)

In [226]:
top_songs

,Name,Artitst,Last Week Rank,Peak Rank,Weeks on Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,51
1,Easy On Me,Adele,5,1,12
2,Rockin' Around The Christmas Tree,Brenda Lee,2,2,45
3,Jingle Bell Rock,Bobby Helms,3,3,42
4,A Holly Jolly Christmas,Burl Ives,4,4,26
...,...,...,...,...,...
95,Beers On Me,"Dierks Bentley, Breland & HARDY",-,9,\n1
96,Already Dead,Juice WRLD,8,2,\n6
97,No Love,Summer Walker & SZA,8,1,\n8
98,23,Sam Hunt,-,9,\n1
99,Family Ties,Baby Keem & Kendrick Lamar,\n,8,18

Ans 7. - Python program to scrape data for recruiters from naukri.com webpage using selenium.

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
sub = []
su = driver.find_elements_by_xpath("//div[@class= 'subMenu']/ul/li/a")
for i in su:
    sub.append(i.get_attribute('href'))

In [6]:
sub

['https://www.naukri.com/recruiters/browse-all-recruiters',
 'https://resume.naukri.com/contact-recruiters-hr?fftid=GNB_RC',
 'https://naukrirecruiter.naukri.com/?src=128',
 'https://www.naukri.com/top-company-jobs',
 'https://www.ambitionbox.com/list-of-companies?utm_source=naukri&utm_medium=gnb',
 'https://www.ambitionbox.com/interviews?utm_source=naukri&utm_medium=gnb',
 'https://www.ambitionbox.com/contribute/company-review?utm_source=naukri&utm_medium=gnb',
 'https://www.ambitionbox.com/contribute/interview-story?utm_source=naukri&utm_medium=gnb',
 'https://www.ambitionbox.com/reviews?utm_source=naukri&utm_medium=gnb',
 'https://www.ambitionbox.com/salaries?utm_source=naukri&utm_medium=desktop&utm_campaign=gnb',
 'https://insights.naukri.com/careertools',
 'https://insights.naukri.com/careertools/careerRole/',
 'https://insights.naukri.com/careertools/industrytrends',
 'https://insights.naukri.com/careertools/naukriLab',
 'https://www.naukri.com/recruit/buy-resume-database-access-packages',
 'https://www.naukri.com/recruit/login']

In [7]:
sub[0]

'https://www.naukri.com/recruiters/browse-all-recruiters'

In [8]:
driver.get(sub[0])

In [9]:
se = driver.find_element_by_xpath("//input[@class= 'sugInp']")

In [10]:
se.send_keys('Data Science')

In [11]:
se_btn = driver.find_element_by_xpath("//button[@class= 'fl qsbSrch blueBtn']")

In [12]:
se_btn.click()

In [23]:
name = []
for i in driver.find_elements_by_xpath("//span[@class= 'fl ellipsis']"):
    name.append(i.text)

In [26]:
len(name)

50

In [27]:
title = []
for i in driver.find_elements_by_xpath("//span[@class= 'ellipsis clr']"):
    title.append(i.text)

In [29]:
len(title)

50

In [30]:
company = []
for i in driver.find_elements_by_xpath("//a[@class= 'ellipsis']"):
    company.append(i.text)

In [64]:
len(company)

50

In [35]:
company = company[1::2]

In [37]:
len(company)

50

In [51]:
url = []
for i in driver.find_elements_by_xpath("//p[@class= 'highlightable']/a"):
    url.append(i.get_attribute('href'))

In [54]:
len(url[0::2])

50

In [55]:
url = url[0::2]

In [59]:
location = []
skill = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        lo = driver.find_element_by_xpath("//div[@class= 'rFrame fl infoWrapper']/div[5]")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        sk = driver.find_element_by_xpath("//div[@class= 'fl lPortn']/p")
        skill.append(sk.text.replace("/n","new line"))
    except:
        skill.append("-")

In [61]:
len(location)

50

In [63]:
len(skill)

50

In [65]:
recruiter = pd.DataFrame({'Name': name, 'Job Title': title, 'Company': company, 'Location': location, 'Skills looking for hire': skill})

In [66]:
recruiter

,Name,Job Title,Company,Location,Skills looking for hire
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer , Internet Marketing Pro..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net , Java , Data Science , Linux Administrat..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Mid Level, Junior Level"
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,", Mean Stack , javascript , angularjs , mongod..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop , Spark , Digital Strategy , Data Archi..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics , Business Intelligence , Business A..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Analytics & Business Intelligence
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning , algorithms , Go Getter , Co..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,-
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Junior Level, Mid Level"
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad,"Mid Level, High Level"
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa , Ui , ux , Java Developer , Java Architect..."
12,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,-
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,-
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Junior Level, Mid Level"
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh,High Level
16,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data , Hadoop , Data Analytics , Data Science"
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,IT Skills
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"High Level, Mid Level"
19,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,Mid Level
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,IT-Software/Software Services
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Mid Level, Top Mangement Level"
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics , Data Science , Machine Learni..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Junior Level, Mid Level"
24,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java , Net , Angularjs , Hr , Infrastructure ,..."
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Mid Level, High Level"
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"High Level, Top Mangement Level"
27,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science , Hadoop , Rpas , Devops , Python..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,Others,"Signal Processing , Machine Learning , Neural ..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies , Project Management , Softwa..."
30,Avodha,Business Development Associate,Nikitha Palaparthi,Hyderabad / Secunderabad,-
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics , Managed Services , Team Leading"
32,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,-
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"S. Finance Manager , Freshers , Experience , S..."
34,Amit Sharma,Consultant,ASCO consulting,New Delhi,-
35,Kanan,senior technology instructor,NY INST,Chennai,"Mid Level, Junior Level"
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,-
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Junior Level, High Level"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Python , Php , Qa Automation , Ui , Wordpre"
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,-
40,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,-
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Top Mangement Level, Junior Level"
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science , Node.js , Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,-
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,-
45,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"java , hadoop , r , Machine Learning , spark ,..."
46,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Mid Level, High Level"
47,Amir Chowdhury,Managing Partner,Granular.ai,,-
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,-
49,Radha Manivasagam,HR Executive,Techcovery,Bengaluru / Bangalore,Junior Level

Ans 8. - Python program to scrape data of best selling novels from theguardian.com webpage using selenium.

In [68]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [72]:
name = []
for i in driver.find_elements_by_xpath("//table[@class= 'in-article sortable']/tbody/tr/td[2]"):
    name.append(i.text)

In [74]:
len(name)

100

In [75]:
author = []
for i in driver.find_elements_by_xpath("//table[@class= 'in-article sortable']/tbody/tr/td[3]"):
    author.append(i.text)

In [77]:
len(author)

100

In [78]:
volume = []
for i in driver.find_elements_by_xpath("//table[@class= 'in-article sortable']/tbody/tr/td[4]"):
    volume.append(i.text)

In [80]:
len(volume)

100

In [81]:
publisher = []
for i in driver.find_elements_by_xpath("//table[@class= 'in-article sortable']/tbody/tr/td[5]"):
    publisher.append(i.text)

In [83]:
len(publisher)

100

In [84]:
genre = []
for i in driver.find_elements_by_xpath("//table[@class= 'in-article sortable']/tbody/tr/td[6]"):
    genre.append(i.text)

In [86]:
len(genre)

100

In [87]:
novel = pd.DataFrame({'Name': name, 'Author': author, 'Volume in Sales': volume, 'Publisher': publisher, 'Genre': genre})

In [88]:
novel

,Name,Author,Volume in Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Ans 9. - Python program to scrape data for most watched tv series from imdb.com webpage using selenium.

In [89]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [90]:
url = []
for i in driver.find_elements_by_xpath("//h3[@class= 'lister-item-header']/a"):
    url.append(i.get_attribute('href'))

In [92]:
len(url)

100

In [93]:
name = []
year = []
genre = []
runtime = []
rating = []
vote = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//h1[@class= 'TitleHeader__TitleText-sc-1wu6n3d-0 dxSWFG']")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        ye = driver.find_element_by_xpath("//a[@class= 'ipc-link ipc-link--baseAlt ipc-link--inherit-color TitleBlockMetaData__StyledTextLink-sc-12ein40-1 rgaOW']")
        year.append(ye.text.replace("/n","new line"))
    except:
        year.append("-")
        
    try:
        ge = driver.find_element_by_xpath("//div[@class= 'ipc-chip-list GenresAndPlot__GenresChipList-sc-cum89p-4 cDpOeC']")
        genre.append(ge.text.replace("/n","new line"))
    except:
        genre.append("-")
        
    try:
        ru = driver.find_element_by_xpath("//ul[@class= 'ipc-inline-list ipc-inline-list--show-dividers TitleBlockMetaData__MetaDataList-sc-12ein40-0 dxizHm baseAlt']/li[4]")
        runtime.append(ru.text.replace("/n","new line"))
    except:
        runtime.append("-")
        
    try:
        ra = driver.find_element_by_xpath("//span[@class= 'AggregateRatingButton__RatingScore-sc-1ll29m0-1 iTLWoV']")
        rating.append(ra.text.replace("/n","new line"))
    except:
        rating.append("-")
        
    try:
        vo = driver.find_element_by_xpath("//div[@class= 'AggregateRatingButton__TotalRatingAmount-sc-1ll29m0-3 jkCVKJ']")
        vote.append(vo.text.replace("/n","new line"))
    except:
        vote.append("-")

In [95]:
len(name)

100

In [97]:
len(year)

100

In [99]:
len(genre)

100

In [102]:
len(rating)

100

In [104]:
len(vote)

100

In [114]:
run1 = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        ru = driver.find_element_by_xpath("//ul[@class= 'ipc-inline-list ipc-inline-list--show-dividers TitleBlockMetaData__MetaDataList-sc-12ein40-0 dxizHm baseAlt']")
        run1.append(ru.text.replace("/n","new line"))
    except:
        run1.append("-")

In [117]:
run2 = []
for i in run1:
    i = i[-3:]
    run2.append(i)

In [119]:
len(run2)

100

In [120]:
tv_series = pd.DataFrame({'Name': name, 'Year Span': year, 'Genre': genre, 'Runtime': run2, 'Rating': rating, 'No. of Votes': vote})

In [121]:
tv_series

,Name,Year Span,Genre,Runtime,Rating,No. of Votes
0,Game of Thrones,2011–2019,Action\nAdventure\nDrama,57m,9.2,1.9M
1,Stranger Things,2016–,Drama\nFantasy\nHorror,51m,8.7,950K
2,The Walking Dead,2010–2022,Drama\nHorror\nThriller,44m,8.2,921K
3,13 Reasons Why,2017–2020,Drama\nMystery\nThriller,\n1h,7.5,276K
4,The 100,2014–2020,Drama\nMystery\nSci-Fi,43m,7.6,236K
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama\nFantasy,42m,7.5,47K
96,-,2017–2019,Adventure\nComedy\nDrama,50m,7.8,58K
97,Criminal Minds,2005–2020,Crime\nDrama\nMystery,42m,8.1,183K
98,Scream: The TV Series,2015–2019,Comedy\nCrime\nDrama,45m,7.1,38K
99,-,2018,Drama\nHorror\nMystery,32m,8.6,218K

Ans 10. - Python program to scrape data about datasets from archive.ics.uci.edu webpage using selenium.

In [123]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [124]:
dat = []
da = driver.find_elements_by_xpath("//span[@class= 'whitetext']/a")
for i in da:
    dat.append(i.get_attribute('href'))

In [125]:
dat

['https://archive.ics.uci.edu/ml/about.html',
 'https://archive.ics.uci.edu/ml/citation_policy.html',
 'https://archive.ics.uci.edu/ml/donation_policy.html',
 'https://archive.ics.uci.edu/ml/contact.html',
 'https://archive.ics.uci.edu/ml/datasets.php']

In [126]:
driver.get(dat[4])

In [140]:
url = []
for i in driver.find_elements_by_xpath("//p[@class= 'normal']/b/a"):
    url.append(i.get_attribute('href'))

In [142]:
len(url)

622

In [144]:
name = []
for i in driver.find_elements_by_xpath("//p[@class= 'normal']/b/a"):
    name.append(i.text)

In [146]:
len(name)

622

In [153]:
data_type = []
for i in driver.find_elements_by_xpath("//p[@class= 'normal']"):
    data_type.append(i.text)

In [156]:
da = data_type[8:]

In [163]:
dat_type = da[1::7]
len(dat_type)

623

In [164]:
dat_type = dat_type[:-1]
len(dat_type)

622

In [165]:
da

['Abalone',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '4177 ',
 '8 ',
 '1995 ',
 'Adult',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Annealing',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '798 ',
 '38 ',
 ' ',
 'Anonymous Microsoft Web Data',
 ' ',
 'Recommender-Systems ',
 'Categorical ',
 '37711 ',
 '294 ',
 '1998 ',
 'Arrhythmia',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '452 ',
 '279 ',
 '1998 ',
 'Artificial Characters',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '6000 ',
 '7 ',
 '1992 ',
 'Audiology (Original)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 ' ',
 '1987 ',
 'Audiology (Standardized)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 '69 ',
 '1992 ',
 'Auto MPG',
 'Multivariate ',
 'Regression ',
 'Categorical, Real ',
 '398 ',
 '8 ',
 '1993 ',
 'Automobile',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer, Real ',
 '205 ',
 '26 ',
 '1987 ',
 'Badges',
 'Univariate, Text ',
 'Classification ',
 ' ',
 '294 ',
 '1 ',
 '1994 ',
 'Balance Scale',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '625 ',
 '4 ',
 '1994 ',
 'Balloons',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '16 ',
 '4 ',
 ' ',
 'Breast Cancer',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '286 ',
 '9 ',
 '1988 ',
 'Breast Cancer Wisconsin (Original)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '699 ',
 '10 ',
 '1992 ',
 'Breast Cancer Wisconsin (Prognostic)',
 'Multivariate ',
 'Classification, Regression ',
 'Real ',
 '198 ',
 '34 ',
 '1995 ',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Multivariate ',
 'Classification ',
 'Real ',
 '569 ',
 '32 ',
 '1995 ',
 'Pittsburgh Bridges',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '108 ',
 '13 ',
 '1990 ',
 'Car Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '1728 ',
 '6 ',
 '1997 ',
 'Census Income',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Chess (King-Rook vs. King-Knight)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical, Integer ',
 ' ',
 '22 ',
 '1988 ',
 'Chess (King-Rook vs. King-Pawn)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '3196 ',
 '36 ',
 '1989 ',
 'Chess (King-Rook vs. King)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '28056 ',
 '6 ',
 '1994 ',
 'Chess (Domain Theories)',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Bach Chorales',
 'Univariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 '100 ',
 '6 ',
 ' ',
 'Connect-4',
 'Multivariate, Spatial ',
 'Classification ',
 'Categorical ',
 '67557 ',
 '42 ',
 '1995 ',
 'Credit Approval',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '15 ',
 ' ',
 'Japanese Credit Screening',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real, Integer ',
 '125 ',
 ' ',
 '1992 ',
 'Computer Hardware',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '209 ',
 '9 ',
 '1987 ',
 'Contraceptive Method Choice',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1473 ',
 '9 ',
 '1997 ',
 'Covertype',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '581012 ',
 '54 ',
 '1998 ',
 'Cylinder Bands',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '512 ',
 '39 ',
 '1995 ',
 'Dermatology',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '366 ',
 '33 ',
 '1998 ',
 'Diabetes',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 ' ',
 '20 ',
 ' ',
 'DGP2 - The Second Data Generation Program',
 'Data-Generator ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Document Understanding',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 'EBL Domain Theories',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Echocardiogram',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '132 ',
 '12 ',
 '1989 ',
 'Ecoli',
 'Multivariate ',
 'Classification ',
 'Real ',
 '336 ',
 '8 ',
 '1996 ',
 'Flags',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '194 ',
 '30 ',
 '1990 ',
 'Function Finding',
 ' ',
 'Function-Learning ',
 'Real ',
 '352 ',
 ' ',
 '1990 ',
 'Glass Identification',
 'Multivariate ',
 'Classification ',
 'Real ',
 '214 ',
 '10 ',
 '1987 ',
 "Haberman's Survival",
 'Multivariate ',
 'Classification ',
 'Integer ',
 '306 ',
 '3 ',
 '1999 ',
 'Hayes-Roth',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '160 ',
 '5 ',
 '1989 ',
 'Heart Disease',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '303 ',
 '75 ',
 '1988 ',
 'Hepatitis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '155 ',
 '19 ',
 '1988 ',
 'Horse Colic',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '368 ',
 '27 ',
 '1989 ',
 'ICU',
 'Multivariate, Time-Series ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Image Segmentation',
 'Multivariate ',
 'Classification ',
 'Real ',
 '2310 ',
 '19 ',
 '1990 ',
 'Internet Advertisements',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '3279 ',
 '1558 ',
 '1998 ',
 'Ionosphere',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '351 ',
 '34 ',
 '1989 ',
 'Iris',
 'Multivariate ',
 'Classification ',
 'Real ',
 '150 ',
 '4 ',
 '1988 ',
 'ISOLET',
 'Multivariate ',
 'Classification ',
 'Real ',
 '7797 ',
 '617 ',
 '1994 ',
 'Kinship',
 'Relational ',
 'Relational-Learning ',
 'Categorical ',
 '104 ',
 '12 ',
 '1990 ',
 'Labor Relations',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '57 ',
 '16 ',
 '1988 ',
 'LED Display Domain',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical ',
 ' ',
 '7 ',
 '1988 ',
 'Lenses',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '24 ',
 '4 ',
 '1990 ',
 'Letter Recognition',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '20000 ',
 '16 ',
 '1991 ',
 'Liver Disorders',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '345 ',
 '7 ',
 '1990 ',
 'Logic Theorist',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Lung Cancer',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '32 ',
 '56 ',
 '1992 ',
 'Lymphography',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '148 ',
 '18 ',
 '1988 ',
 'Mechanical Analysis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '209 ',
 '8 ',
 '1990 ',
 'Meta-data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '528 ',
 '22 ',
 '1996 ',
 'Mobile Robots',
 'Domain-Theory ',
 ' ',
 'Categorical, Integer, Real ',
 ' ',
 ' ',
 '1995 ',
 'Molecular Biology (Promoter Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '106 ',
 '58 ',
 '1990 ',
 'Molecular Biology (Protein Secondary Structure)',
 'Sequential ',
 'Classification ',
 'Categorical ',
 '128 ',
 ' ',
 ' ',
 'Molecular Biology (Splice-junction Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '3190 ',
 '61 ',
 '1992 ',
 "MONK's Problems",
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '432 ',
 '7 ',
 '1992 ',
 'Moral Reasoner',
 'Domain-Theory ',
 ' ',
 ' ',
 '202 ',
 ' ',
 '1994 ',
 'Multiple Features',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '2000 ',
 '649 ',
 ' ',
 'Mushroom',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '8124 ',
 '22 ',
 '1987 ',
 'Musk (Version 1)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '476 ',
 '168 ',
 '1994 ',
 'Musk (Version 2)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '6598 ',
 '168 ',
 '1994 ',
 'Nursery',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '12960 ',
 '8 ',
 '1997 ',
 'Othello Domain Theory',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1991 ',
 'Page Blocks Classification',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '5473 ',
 '10 ',
 '1995 ',
 'Optical Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '5620 ',
 '64 ',
 '1998 ',
 'Pen-Based Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '10992 ',
 '16 ',
 '1998 ',
 'Post-Operative Patient',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '90 ',
 '8 ',
 '1993 ',
 'Primary Tumor',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '339 ',
 '17 ',
 '1988 ',
 'Prodigy',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Qualitative Structure Activity Relationships',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Quadruped Mammals',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 ' ',
 '72 ',
 '1992 ',
 'Servo',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '167 ',
 '4 ',
 '1993 ',
 'Shuttle Landing Control',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '15 ',
 '6 ',
 '1988 ',
 'Solar Flare',
 'Multivariate ',
 'Regression ',
 'Categorical ',
 '1389 ',
 '10 ',
 '1989 ',
 'Soybean (Large)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '307 ',
 '35 ',
 '1988 ',
 'Soybean (Small)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '47 ',
 '35 ',
 '1987 ',
 'Challenger USA Space Shuttle O-Ring',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '23 ',
 '4 ',
 '1993 ',
 'Low Resolution Spectrometer',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '531 ',
 '102 ',
 '1988 ',
 'Spambase',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '4601 ',
 '57 ',
 '1999 ',
 'SPECT Heart',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '267 ',
 '22 ',
 '2001 ',
 'SPECTF Heart',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '267 ',
 '44 ',
 '2001 ',
 'Sponge',
 'Multivariate ',
 'Clustering ',
 'Categorical, Integer ',
 '76 ',
 '45 ',
 ' ',
 'Statlog Project',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1992 ',
 'Student Loan Relational',
 'Domain-Theory ',
 ' ',
 ' ',
 '1000 ',
 ' ',
 '1993 ',
 'Teaching Assistant Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '151 ',
 '5 ',
 '1997 ',
 'Tic-Tac-Toe Endgame',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '958 ',
 '9 ',
 '1991 ',
 'Thyroid Disease',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real ',
 '7200 ',
 '21 ',
 '1987 ',
 'Trains',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '10 ',
 '32 ',
 '1994 ',
 'University',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '285 ',
 '17 ',
 '1988 ',
 'Congressional Voting Records',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '435 ',
 '16 ',
 '1987 ',
 'Water Treatment Plant',
 'Multivariate ',
 'Clustering ',
 'Integer, Real ',
 '527 ',
 '38 ',
 '1993 ',
 'Waveform Database Generator (Version 1)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '21 ',
 '1988 ',
 'Waveform Database Generator (Version 2)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '40 ',
 '1988 ',
 'Wine',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '178 ',
 '13 ',
 '1991 ',
 'Yeast',
 'Multivariate ',
 'Classification ',
 'Real ',
 '1484 ',
 '8 ',
 '1996 ',
 'Zoo',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '101 ',
 '17 ',
 '1990 ',
 'Undocumented',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Twenty Newsgroups',
 'Text ',
 ' ',
 ' ',
 '20000 ',
 ' ',
 '1999 ',
 'Australian Sign Language signs',
 'Multivariate, Time-Series ',
 'Classification ',
 'Categorical, Real ',
 '6650 ',
 '15 ',
 '1999 ',
 'Australian Sign Language signs (High Quality)',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '2565 ',
 '22 ',
 '2002 ',
 'US Census Data (1990)',
 'Multivariate ',
 'Clustering ',
 'Categorical ',
 '2458285 ',
 '68 ',
 ' ',
 'Census-Income (KDD)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '299285 ',
 '40 ',
 '2000 ',
 'Coil 1999 Competition Data',
 'Multivariate ',
 ' ',
 'Categorical, Real ',
 '340 ',
 '17 ',
 '1999 ',
 'Corel Image Features',
 'Multivariate ',
 ' ',
 'Real ',
 '68040 ',
 '89 ',
 '1999 ',
 'E. Coli Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'EEG Database',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer, Real ',
 '122 ',
 '4 ',
 '1999 ',
 'El Nino',
 'Spatio-temporal ',
 ' ',
 'Integer, Real ',
 '178080 ',
 '12 ',
 '1999 ',
 'Entree Chicago Recommendation Data',
 'Transactional, Sequential ',
 'Recommender-Systems ',
 'Categorical ',
 '50672 ',
 ' ',
 '2000 ',
 'CMU Face Images',
 'Image ',
 'Classification ',
 'Integer ',
 '640 ',
 ' ',
 '1999 ',
 'Insurance Company Benchmark (COIL 2000)',
 'Multivariate ',
 'Regression, Description ',
 'Categorical, Integer ',
 '9000 ',
 '86 ',
 '2000 ',
 'Internet Usage Data',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '10104 ',
 '72 ',
 '1999 ',
 'IPUMS Census Database',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '256932 ',
 '61 ',
 '1999 ',
 'Japanese Vowels',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '640 ',
 '12 ',
 ' ',
 'KDD Cup 1998 Data',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '191779 ',
 '481 ',
 '1998 ',
 'KDD Cup 1999 Data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '4000000 ',
 '42 ',
 '1999 ',
 'M. Tuberculosis Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'Movie',
 'Multivariate, Relational ',
 ' ',
 ' ',
 '10000 ',
 ' ',
 '1999 ',
 'MSNBC.com Anonymous Web Data',
 'Sequential ',
 ' ',
 'Categorical ',
 '989818 ',
 ' ',
 ' ',
 'NSF Research Award Abstracts 1990-2003',
 'Text ',
 ' ',
 ' ',
 '129000 ',
 ' ',
 '2003 ',
 'Pioneer-1 Mobile Robot Data',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Real ',
 ' ',
 ' ',
 '1999 ',
 'Pseudo Periodic Synthetic Time Series',
 'Univariate, Time-Series ',
 ' ',
 ' ',
 '100000 ',
 ' ',
 '1999 ',
 'Reuters-21578 Text Categorization Collection',
 'Text ',
 'Classification ',
 'Categorical ',
 '21578 ',
 '5 ',
 '1997 ',
 'Robot Execution Failures',
 'Multivariate, Time-Series ',
 'Classification ',
 'Integer ',
 '463 ',
 '90 ',
 '1999 ',
 'Synthetic Control Chart Time Series',
 'Time-Series ',
 'Classification, Clustering ',
 'Real ',
 '600 ',
 ' ',
 '1999 ',
 'Syskill and Webert Web Page Ratings',
 'Multivariate, Text ',
 'Classification ',
 'Categorical ',
 '332 ',
 '5 ',
 '1998 ',
 'UNIX User Data',
 'Text, Sequential ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Volcanoes on Venus - JARtool experiment',
 'Image ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Statlog (Australian Credit Approval)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '14 ',
 ' ',
 'Statlog (German Credit Data)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1000 ',
 '20 ',
 '1994 ',
 'Statlog (Heart)',
 'Multivariate ',
 'Classification ',
 'Categorical, Real ',
 '270 ',
 '13 ',
 ...]

In [166]:
task = da[2::7]

In [168]:
len(task)

622

In [169]:
att_type = da[3::7]

In [171]:
len(att_type)

622

In [172]:
n_inst = da[4::7]

In [174]:
len(n_inst)

622

In [175]:
n_att = da[5::7]

In [177]:
len(n_att)

622

In [178]:
year = da[6::7]

In [180]:
len(year)

622

In [181]:
datasets = pd.DataFrame({'Name': name, 'Data Type': dat_type, 'Task': task, 'Attribute Types': att_type, 'No. of Instances': n_inst,
                        'No. of Attributes': n_att, 'Year': year})

In [182]:
datasets

,Name,Data Type,Task,Attribute Types,No. of Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021